<header>
    <h2 id="content-title">Content Title</h2>
</header>
<div class="content-section">
    <form method="post"><p>Check to <label>
        <input type="checkbox" name="remember"/> remember me</label>
        <input type="submit" value="Submit"/>.</p></form>
</div>