<div class="panel-heading">Login to OpenTweet!</div>
<div class="panel-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="login-user-name" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="login-user-name" placeholder="User Name">
            </div>
        </div>
        <div class="form-group">
            <label for="login-password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="login-password" placeholder="Password">
            </div>
        </div>
        <div class="form-group bottom">
            <div class="col-sm-offset-2 col-sm-6">
                <button id="login-button" type="button" class="btn btn-default" disabled>Log In</button>
            </div>
        </div>
    </form>
</div>