<h2>Welcome to OpenTweet!</h2>

<div class="row">
    <div class="six columns alpha">
        <span>Login if you've already joined!</span>
        <br>

        <label for="regularInput">Username</label>
        <input type="text" id="username-login"/>

        <!-- Label and text input -->
        <label for="regularInput">Password</label>
        <input type="password" id="password-login"/>

        <button type="submit" id="login-button" disabled>Login</button>
    </div>

    <div id="sign-up-div" class="six columns omega">
        <span>Sign up if you are new!</span>
        <br>

        <label for="regularInput">Username</label>
        <input type="text" id="username-sign-up"/>

        <!-- Label and text input -->
        <label for="regularInput">Password</label>
        <input type="password" id="password-sign-up"/>

        <label for="regularInput">E-Mail</label>
        <input type="text" id="email-sign-up"/>

        <label for="regularInput">Sound Byte</label>
        <input type="text" id="sound-byte-sign-up"/>

        <button type="submit" id="sign-up-button" disabled>Sign Up for OpenTweet</button>
    </div>
</div>