<div class="panel-heading">{{user_name}}</div>
<div class="list-group">
    <a href="#!/{{user_name}}" class="list-group-item">Tweets</a>
    <a href="#!/{{user_name}}/followers" class="list-group-item">Followers</a>
    <a href="#!/{{user_name}}/following" class="list-group-item">Following</a>
</div>