<nav>
    <ul>
        <li><a href="#!/{{user_name}}">Tweets</a></li>
        <li><a href="#!/{{user_name}}/following">Following</a></li>
        <li class="bottom"><a href="#!/{{user_name}}/followers">Followers</a></li>
    </ul>
</nav>
&nbsp;