<div class="media">
    <div class="pull-right">
        <div class="media-object">{{timestamp}}</div>
    </div>
    <div class="media-body">
        <a href="#!/{{user_name}}"><strong>{{user_name}}</strong></a>
        {{message}}
    </div>
</div>