div.content-section {
    margin: 30px 0;
}

#content {
    border-style: solid;
    border-color: #cccccc;
    border-width: 2px;
    padding: 5px;
}

#content.sign-up {
    margin: auto;
    position: relative;
    float: none;
    display: block;
}

#content-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
}