body {
    padding-top: 60px;
}

textarea {
    resize: none;
    margin-bottom: 10px;
}

.vertical-align {
    display:inline-block;
    vertical-align:middle;
}

.vertical-align.tweet-char-count {
    margin-left: 10px;
}

#side-bar div.list-group {
    margin-bottom: 0;
}

#side-bar-heading h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group.bottom {
    margin-bottom: 0;
}

.media-body.tweet-body {
    word-wrap: break-word;
}

.error-text {
    margin-left: 10px;
    display: inline-block;
}

/* media queries */

@media (min-width: 992px) {
    #side-bar div.list-group {
        position: fixed;
        width: 213px;
    }
}

@media (min-width: 1200px) {
    #side-bar div.list-group {
        position: fixed;
        width: 263px;
    }
}

@media (max-width: 767px) {
    #side-bar div.list-group {
        position: relative;
    }
}