nav {
    position: fixed;
    width: 160px;

    border-style: solid;
    border-color: #bbbbbb;
    border-width: 2px;
    padding: 5px;
}

#logo {
    margin-bottom: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
}

nav ul {
    float: left;
    margin-bottom: 0;
}

nav ul li {
    display: block;
    margin-bottom: 10px;
}

nav ul li a,
nav ul li a:visited,
nav ul li a:active  {
    font-size: 14px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #222;
}